@font-face {
    font-family: "Inter";
    src: url("../Fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
    font-weight: 100 900; /* important pour une variable font */
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

main {
    padding: 1rem 5rem;
    background: linear-gradient(white 80%, lightgray);
    height: 100vh;
}