body {
    text-decoration: none;
}

.header {
    padding: 0 2rem;
    background-color: #00bfff;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

.header-home-button a  {
    display: inline-block;
    transition: transform 0.1s, font-weight 0.1s;
    text-decoration: none;
    color: inherit;
}
.header-home-button a:hover {
    transform: scale(1.1);
    font-weight: bold;
}