table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: rgb(89, 243, 241);
}

tr {
    height: 5rem;
}

th {
    border: 1px solid lightgray;
}

td {
    border: 1px solid lightgray;
}

tfoot {
    background-color: lightgray;
}

tfoot:hover {
    cursor: pointer;
    background-color: darkgray;
}

#project-adder {
    text-align: center;
}

.project-interactions {
    display: flex;
}

.project-options {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-options:hover {
    transition: background-color 0.1s;
    background-color: lightgray;
    border-radius: 50%;
    cursor: pointer;
}

.project-options-options {
    padding: 0 0.5rem
}