.home-page-meta {
    background-color: #059cd1;
    color: white;
    text-align: center;
    margin: 2rem 4rem;
    padding: 3rem;
    border-radius: 15px;
}

.home-title {
    margin-bottom: 1rem
}
.home-description {
    font-style: italic;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.projects-table-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.projects-table-filters {
    display: flex;
    justify-content: space-between;
}

thead {
    background-color: rgb(89, 243, 241);
}

tr {
    transition:
        background-color 0.1s,
        transform 0.1s;
    height: 5rem;
}

tr:hover {
    background-color: whitesmoke;
    transform: scale(1.05);
}

.projects-table-titles:hover {
    background-color: deepskyblue;
}

th {
    border: 1px solid lightgray;
}

td {
    border: 1px solid lightgray;
}

.project-access-button {
    background-color: deepskyblue;
    transition: background-color 0.1s;
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 15px;
}

.project-access-button:hover {
    cursor: pointer;
    background-color: dodgerblue;
}

tfoot {
    background-color: lightgray;
}

tfoot:hover {
    cursor: pointer;
    background-color: darkgray;
}

#project-adder {
    transition: background-color 0.1s;
    text-align: center;
}

#project-adder:hover {
    transition: background-color 0.1s;
    background-color: gray;
    text-align: center;
}

.project-interactions {
    display: flex;
}

.project-options {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-options:hover {
    transition: background-color 0.1s;
    background-color: lightgray;
    border-radius: 50%;
    cursor: pointer;
}

.project-options-options {
    padding: 0 0.5rem
}