.project-tasks {
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
}

@media (max-width: 768px) {
    .project-tasks {
        flex-direction: column;
    }
}

.taskblock {
    background-color: lightgray;
    border-radius: 1rem;
    flex: 1;
    padding-bottom: 1rem;
}

.taskblock-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem 2rem 1rem;
}

.taskblock-title h2 {
    margin: 0;
    padding: 0;
}

.taskblock-tasks {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 1rem;
}

.task {
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.task-tag {
    display: flex;
    flex-direction: row;
    gap: 0.25rem 0.75rem;
    flex-wrap: wrap;
}

.tag {
    padding: 0.5rem;
    background-color: green;
    border-radius: 15%;
    margin: 0;
}

.task-description p {
    margin: 0;
    width: 80%;
}