.project-tasks {
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
}

@media (max-width: 768px) {
    .project-tasks {
        flex-direction: column;
    }
}

.taskblock {
    background-color: lightgray;
    border-radius: 1rem;
    flex: 1;
    padding-bottom: 1rem;
}

.taskblock-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem 2rem 1rem;
}

.taskblock-title h2 {
    margin: 0;
    padding: 0;
}

.taskblock-tasks {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 1rem;
}

.task {
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    min-height: 4rem;
}

.task-content {
    flex-basis: 95%;
}

.task-main {
    display: flex;
    flex-direction: row;
}

.task-tag {
    display: flex;
    flex-direction: row;
    gap: 0.25rem 0.75rem;
    flex-wrap: wrap;
    padding-bottom: 0.5rem;
}

.tag {
    padding: 0.5rem;
    background-color: green;
    border-radius: 15%;
    margin: 0;
}

.task-description p {
    margin: 0;
    width: 80%;
}

.task-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.task-drag-handle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-drag-handle p {
    display: inline-block;
    transform: rotate(90deg);
    margin: 0;
    padding: 0;
}

.task-options {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-options:hover {
    transition: background-color 0.1s;
    background-color: lightgray;
    border-radius: 50%;
    cursor: pointer;
}

.task-options-options {
    padding: 0 0.5rem
}

.task-adder {
    background-color: #5c5d5e;
    transition: background-color 0.1s;
    border-radius: 0.5rem;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.task-adder:hover {
    background-color: #aaa9a9;
    cursor: pointer;
}